<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="HealthCareSynergyBilling, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9036662EB5581424"/>
        <add assembly="HealthCareSynergyDiagnosis, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9036662EB5581424"/>
        <add assembly="HealthCareSynergyInc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9036662EB5581424"/>
        <add assembly="HealthCareSynergyLogin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9036662EB5581424"/>
        <add assembly="HealthCareSynergyOASIS, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9036662EB5581424"/>
        <add assembly="HealthCareAssistant, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9036662EB5581424"/>
        <add assembly="HealthCareSynergyPatientsCharts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9036662EB5581424"/>
        <add assembly="HSIAccess, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9036662EB5581424"/>
        <add assembly="HSIAddress, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9036662EB5581424"/>
        <add assembly="HSIAdmission, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9036662EB5581424"/>
        <add assembly="HSIBaseLevelDAO, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9036662EB5581424"/>
        <add assembly="HSIChartUtilities, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9036662EB5581424"/>
        <add assembly="HSIOasisAnswer, Version=6.9.0.0, Culture=neutral, PublicKeyToken=9036662EB5581424"/>
        <add assembly="HSIPatientInsurance, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9036662EB5581424"/>
        <add assembly="HSIPatientChart, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9036662EB5581424"/>
        <add assembly="HSIProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9036662EB5581424"/>
        <add assembly="HealthCareSynergyDictionaries, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9036662EB5581424"/>
        <add assembly="HSIReferralSource, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9036662EB5581424"/>
        <add assembly="HSIOasisEvaluation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=9036662EB5581424"/>
      </assemblies>
    </compilation>
    <webServices>
      <soapExtensionReflectorTypes>
        <add type="Msdn.Web.Services.Samples.HttpsReflector, App_code"/>
      </soapExtensionReflectorTypes>

    </webServices>

  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <useRequestHeadersForMetadataAddress/>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Service">
        <!-- <endpoint address="" binding="basicHttpBinding" bindingConfiguration="HttpBinding" contract="IService" ></endpoint> -->
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="HttpsBinding" contract="IService"/>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="HttpBinding">
          <security mode="None"/>
        </binding>
        <binding name="HttpsBinding">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="false"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>